{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comentario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ comentario.contenido }}</td>
            </tr>
            <tr>
                <th>Calificacion</th>
                <td>{{ comentario.calificacion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if comentario.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if comentario.createdAt %}{{ comentario.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if comentario.updatedAt %}{{ comentario.updatedAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Visto</th>
                <td>{% if comentario.visto %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comentario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comentario_edit', { 'id': comentario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
