{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empresas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Visitas</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Nit</th>
                <th>Fotologo</th>
                <th>Fotoportada</th>
                <th>Fotoportadacov</th>
                <th>Paginaweb</th>
                <th>Descripcion</th>
                <th>Direccion</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Colorprimario</th>
                <th>Colorsecundario</th>
                <th>Activo</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Posicionamiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td><a href="{{ path('empresa_show', { 'id': empresa.id }) }}">{{ empresa.id }}</a></td>
                <td>{{ empresa.visitas }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.correo }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.celular }}</td>
                <td>{{ empresa.nit }}</td>
                <td>{{ empresa.fotoLogo }}</td>
                <td>{{ empresa.fotoPortada }}</td>
                <td>{{ empresa.fotoPortadaCov }}</td>
                <td>{{ empresa.paginaWeb }}</td>
                <td>{{ empresa.descripcion }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>{{ empresa.lat }}</td>
                <td>{{ empresa.lng }}</td>
                <td>{{ empresa.colorPrimario }}</td>
                <td>{{ empresa.colorSecundario }}</td>
                <td>{% if empresa.activo %}Yes{% else %}No{% endif %}</td>
                <td>{% if empresa.createdAt %}{{ empresa.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if empresa.updatedAt %}{{ empresa.updatedAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ empresa.posicionamiento }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresa_show', { 'id': empresa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empresa_edit', { 'id': empresa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_new') }}">Create a new empresa</a>
        </li>
    </ul>
{% endblock %}
