{# total items count #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
	<!-- BLOCK -->
	<div class="block block-condensed">
	    <!-- HEADING -->
	    <div class="app-heading app-heading-small">
	    	<form action="{{path('empresa_busqueda')}}" method="post">
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Buscar!</button>
						</span>
						<input type="text" class="form-control" name="stringBusqueda" placeholder="Digite los parametros de busqueda...">
					</div>  
				</div>
				<div class="col-md-3">
					<select class="form-control s2-select-search" name="municipioId">
						{% for municipio in municipios %}
							<option value="{{municipio.id}}">{{municipio.nombre}}</option>
						{% endfor %}
					</select>	
				</div>
			</form>
	        <div class="title col-md-3">
	            <h2>Empresas</h2>
	            <div class="count">
				    Cantidad <label class="label label-success"> {{ pagination.getTotalItemCount }}</label>
				</div> 
	        </div>
	    </div> 
	    <!-- END HEADING -->
	      <div class="block-content">
	        <div class="container">
	              <div class="row grid">
	                  {% for empresa in pagination %}
	                    <div class="col-md-4">
	                      <div class="tile-basic">
	                          <div class="tile-image">
	                              <a href="#" class="tile-image tile-image-padding tile-image-hover-grayscale preview" data-preview-image="{{asset('uploads/empresa/fotosLogo/'~ empresa.fotoLogo)}}" data-preview-size="modal-lg">
	                                  <img src="{{asset('uploads/empresa/fotosPortada/'~ empresa.fotoPortada)}}" alt="">
	                              </a>
	                          </div>
	                          <div class="tile-content tile-content-condensed-bottom text-center"style="background-color:#edeff0;">
	                              
	                              <h5 class="tile-title" style="color:{{empresa.colorPrimario}};">{{empresa.nombre}}</h5>
	                              <hr>
								<a href="{{ path('empresa_show', { 'id': empresa.id }) }}" class="btn btn-info btn-clean " data-toggle="tooltip" data-placement="top" title="Ver Empresa"><span class="fa fa-hand-pointer-o"></span></a>
	                            <a href="{{ path('empresa_show_location', { 'id': empresa.id }) }}" class="btn btn-success btn-clean " data-toggle="tooltip" data-placement="top" title="ver Ubicación" target="_blank"><span class="fa fa-map-marker"></span></a>
	                              
	                          </div>
	                      </div>
	                    </div>
	                  {% endfor %}
	              </div>
	        </div> 
	      </div>
	      	<div class=" container navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
	</div>
	<!-- END BLOCK -->

</div>


{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/js/vendor/select2/select2.full.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/vendor/bootstrap-select/bootstrap-select.js') }}" type="text/javascript"></script>
{% endblock %}