{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imagenempresa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagenEmpresa.id }}</td>
            </tr>
            <tr>
                <th>Urlimagen</th>
                <td>{{ imagenEmpresa.urlImagen }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if imagenEmpresa.created %}{{ imagenEmpresa.created|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagenempresa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagenempresa_edit', { 'id': imagenEmpresa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
