{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productoimagens list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productoImagen in productoImagens %}
            <tr>
                <td><a href="{{ path('productoimagen_show', { 'id': productoImagen.id }) }}">{{ productoImagen.id }}</a></td>
                <td>{{ productoImagen.imagen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productoimagen_show', { 'id': productoImagen.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productoimagen_edit', { 'id': productoImagen.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productoimagen_new') }}">Create a new productoImagen</a>
        </li>
    </ul>
{% endblock %}
