{# total items count #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
	<!-- BLOCK -->
	<div class="block block-condensed">
	    <!-- HEADING -->
	    <div class="app-heading app-heading-small">
	    	<div class="col-md-6">
	    		<form action="{{path('productos_busqueda')}}" method="post">
	                <div class="input-group">
	                    <span class="input-group-btn">
	                        <button class="btn btn-default" type="submit">Buscar!</button>
	                    </span>
	                    <input type="text" class="form-control" name="stringBusqueda" placeholder="Digite los parametros de busqueda...">
	                </div>
                </form>
            </div>
			<div class="col-md-3">
				<a href="{{path('producto_list')}}" class="btn btn-primary" >Volver</a>
			</div>
	        <div class="title col-md-3">
	            <h2>Productos</h2>
	        </div>
	    </div>
	    <div id="map" class="col-md-12" style="height:400px;">

        </div> 
	    <!-- END HEADING -->
	      <div class="block-content">
	        <div class="container">
	              <div class="row grid">
	                  {% for producto in pagination %}
	                    <div class="col-md-3">
	                      <div class="tile-basic">
	                          <div class="tile-image">
	                            {% for imagen in producto.imagenes %}
	                            {% if loop.last %}
	                              <a href="#" class="tile-image tile-image-padding tile-image-hover-grayscale preview" data-preview-image="{{asset('uploads/producto/'~ imagen.imagen)}}" data-preview-size="modal-lg">
	                                  <img src="{{asset('uploads/producto/'~ imagen.imagen)}}" alt="">
	                              </a>
	                              {% endif %}
	                              {% endfor %}
	                              <div class="tile-image-container text-right">
	                                  {% if producto.subCategoria.id == 1 %}
	                                  <span class="label label-success">
	                                  {% elseif producto.subCategoria.id == 2 %}
	                                  <span class="label label-warning">
	                                  {% else %}
	                                  <span class="label label-danger">
	                                  {% endif %}
	                                  {{producto.subCategoria.nombre}}
	                                  </span>
	                              </div>
	                          </div>
	                          <div class="tile-content tile-content-condensed-bottom text-center"style="background-color:#edeff0;">
	                              <span class="tile-subtitle">{{producto.valor}}</span>
	                              <h5 class="tile-title" style="color:{{producto.empresa.colorPrimario}};">{{producto.nombre}}</h5>
	                              <p>{{producto.descripcion}}</p>
	                          		
	                             <a href="{{ path('producto_show', { 'id': producto.id }) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Ver Producto"><span class="fa fa-hand-pointer-o"></span></a>
	                              <a href="{{ path('chatusuariousuario_new', { 'id': producto.empresa.usuario.id }) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Contacta en Tiempo Real"><span class="fa fa-wechat"></span></a>
	                              <a href="{{ path('empresa_show_location', { 'id': producto.empresa.id }) }}" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="ver Ubicación" target="_blank"><span class="fa fa-map-marker"></span></a>
	                          	
	                          </div>
	                      </div>
	                    </div>
	                  {% endfor %}
	              </div>
	        </div> 
	      </div>
	</div>
	<!-- END BLOCK -->

</div>


{% endblock %}

{% block javascripts %}

<script>
      function initMap() {
        var pasto = {lat: 1.228489, lng: -77.285937};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: pasto
        });

        {% for producto in pagination %}
        var contentString{{producto.empresa.id}} = 
        '<div class = "text-center">'+
        '<a href="{{ path('empresa_show', { 'id': producto.empresa.id }) }}">{{producto.empresa.nombre}}</a>'+
        '<p>{{producto.empresa.descripcion}}</p>'
    	'</div>';
    	var infowindow{{producto.empresa.id}} = new google.maps.InfoWindow({
          content: contentString{{producto.empresa.id}}
        });
        var image = {
	      url: '{{asset('uploads/empresa/fotosLogo/'~producto.empresa.fotoLogo)}}',
	        // This marker is 20 pixels wide by 32 pixels high.
	      size: new google.maps.Size(90, 90),
	      origin: new google.maps.Point(0, 0),
	      anchor: new google.maps.Point(17, 34),
	      scaledSize: new google.maps.Size(40, 40)
	      };

        var marker{{producto.id}} = new google.maps.Marker({
		    position: {lat: {{producto.empresa.lat}}, lng: {{producto.empresa.lng}} },
		    map: map,
		    title: 'Hello World!',
		    icon:image
		  });

	    marker{{producto.id}}.addListener('click', function() {
          infowindow{{producto.empresa.id}}.open(map, marker{{producto.id}});
        });
        {% endfor %}

      }
    </script>     
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAufs3m98ovPKTMtcRUXbAqQ0H1DpEUseQ&callback=initMap">
    </script>    
{% endblock %}