{# total items count #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12">
	<!-- BLOCK -->
	<div class="block block-condensed">
	    <!-- HEADING -->
	    <div class="app-heading app-heading-small">
	    <form action="{{path('productos_busqueda')}}" method="post">
			<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Buscar!</button>
						</span>
						<input type="text" class="form-control" name="stringBusqueda" placeholder="Digite los parametros de busqueda...">
					</div>
				</div>
				<div class="col-md-2">
					<select class="form-control s2-select-search" name="municipioId">
						<option value="">Seleccionar una opcion</option>
						{% for municipio in municipios %}
							<option value="{{municipio.id}}">{{municipio.nombre}}</option>
						{% endfor %}
					</select>	
				</div>
				<div class="col-md-2">
					<select class="form-control s2-select-search" name="categoriaId">
						<option value="">Seleccionar una opcion</option>
						{% for categoria in categorias %}
							<option value="{{categoria.id}}">{{categoria.nombre}}</option>
						{% endfor %}
					</select>	
				</div>
				<div class="title col-md-2">
					<h2>Productos</h2>
					<div class="count">
						Cantidad <label class="label label-success"> {{ pagination.getTotalItemCount }}</label>
					</div>
				</div>
			</div> 
    	</form>
	    <!-- END HEADING -->
	      <div class="block-content">
	        <div class="container">
	              <div class="row grid">
	                  {% for producto in pagination %}
	                    <div class="col-md-4">
	                      <div class="tile-basic">
	                          <div class="tile-image">
	                            {% for imagen in producto.imagenes %}
	                            {% if loop.last %}
	                              <a href="#" class="tile-image tile-image-padding tile-image-hover-grayscale preview" data-preview-image="{{asset('uploads/producto/'~ imagen.imagen)}}" data-preview-size="modal-lg">
	                                  <img src="{{asset('uploads/producto/'~ imagen.imagen)}}" alt=""> 
	                              </a>
	                              {% endif %}
	                              {% endfor %}
	                              <div class="tile-image-container text-right">
	                                  {% if producto.subCategoria.id == 1 %}
	                                  <span class="label label-success">
	                                  {% elseif producto.subCategoria.id == 2 %}
	                                  <span class="label label-warning">
	                                  {% else %}
	                                  <span class="label label-danger">
	                                  {% endif %}
	                                  {{producto.subCategoria.nombre}}
	                                  </span>
	                              </div>
	                          </div>
	                          <div class="tile-content tile-content-condensed-bottom text-center"style="background-color:#edeff0;">
	                              <span class="tile-subtitle">{{producto.valor}}</span>
	                              <h5 class="tile-title" style="color:{{producto.empresa.colorPrimario}};">{{producto.nombre}}</h5>
	                              <p>{{producto.descripcion}}</p>
								  
	                              <a href="{{ path('producto_show', { 'id': producto.id }) }}" class="btn btn-info btn-clean " data-toggle="tooltip" data-placement="top" title="Ver Producto"><span class="fa fa-hand-pointer-o"></span></a>
	                              <a href="{{ path('chatusuariousuario_new', { 'id': producto.empresa.usuario.id }) }}" class="btn btn-warning btn-clean " data-toggle="tooltip" data-placement="top" title="Contacta en Tiempo Real"><span class="fa fa-wechat"></span></a>
	                              <a href="{{ path('empresa_show_location', { 'id': producto.empresa.id }) }}" class="btn btn-success btn-clean " data-toggle="tooltip" data-placement="top" title="ver Ubicación" target="_blank"><span class="fa fa-map-marker"></span></a>
	                          	
							  </div>
	                      </div>
	                    </div>
	                  {% endfor %}
	              </div>
	        </div> 
	      </div>
	      	<div class=" container navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
	</div>
	<!-- END BLOCK -->

</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/js/vendor/select2/select2.full.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/vendor/bootstrap-select/bootstrap-select.js') }}" type="text/javascript"></script>
{% endblock %}