{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subastas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Peticion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subastum in subastas %}
            <tr>
                <td><a href="{{ path('subasta_show', { 'id': subastum.id }) }}">{{ subastum.id }}</a></td>
                <td>{% if subastum.createdAt %}{{ subastum.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ subastum.peticion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subasta_show', { 'id': subastum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subasta_edit', { 'id': subastum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subasta_new') }}">Create a new subastum</a>
        </li>
    </ul>
{% endblock %}
