{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subastacomentario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subastaComentario.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if subastaComentario.fecha %}{{ subastaComentario.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ subastaComentario.contenido }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subastacomentario_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subastacomentario_edit', { 'id': subastaComentario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
