{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productopromocions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for productoPromocion in productoPromocions %}
            <tr>
                <td><a href="{{ path('productopromocion_show', { 'id': productoPromocion.id }) }}">{{ productoPromocion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productopromocion_show', { 'id': productoPromocion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productopromocion_edit', { 'id': productoPromocion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productopromocion_new') }}">Create a new productoPromocion</a>
        </li>
    </ul>
{% endblock %}
